@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	background-color: #fff;
}

a {
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

.center {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
}

.page {
	position: relative;
	overflow: hidden;
}
.header {
	min-height: 75px;
	background: #222222;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.header__left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 41px;
}

.header__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 33px;
	position: relative;
	width: 168px;
	height: 37px;
}
.header__right ::after,
.number {
	color: #f8f8f8;
	position: absolute;
	top: 0;
	right: 0;
}
.number {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f16d7f;
	color: #ffffff;
	font-size: 12px;
	border-radius: 50%;
	width: 19px;
	height: 19px;
}

.main-conteiner {
	background-color: #f1e4e6;
	height: 764px;
}

.vertical-line {
	width: 12px;
	height: 92px;
	background-color: #f16d7f;
}

.main-text h1 {
	font-weight: 900;
	font-size: 48px;
	color: #222;
	max-width: 380px;
	line-height: 80%;
}
.main-text span {
	font-weight: 700;
	font-size: 32px;
	/* color: #222; */
	max-width: 380px;
	line-height: 80%;
}

.last-word {
	font-size: 28px;
	color: #f16d7f;
}
.menuBanner {
	z-index: 1;
	max-width: 232px;
	max-height: 634px;
	position: relative;
	top: 0;
	left: 0;
}
.menuClose{
	width: 12px;
	height: 12px;
}

.text-conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.main-img {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.main-info {
	display: flex;
	justify-content: center;
	gap: 63.42px;
}

.box-img {
	position: relative;
}

.box-img img {
	max-width: 100%;
	max-height: 100%;
}

.box-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #fff;
}

.box-title {
	font-weight: 700;
	font-size: 24px;
	color: #f16d7f;
}

.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.group_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.groups-conteiner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	flex-wrap: wrap;
}

.collage-conteiner {
	margin-top: 65px;
	margin-bottom: 96px;
}

.products-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 6px;
}

.poducts-title {
	font-weight: 400;
	font-size: 30px;
	color: #222;
}

.products-p p {
	font-weight: 400;
	font-size: 14px;
	color: #9f9f9f;
}

.product-box {
	display: flex;
	flex-direction: column;
	max-width: 360px;
	background: #f8f8f8;
}
.product-box img {
	max-width: 100%;
	max-height: 100%;
}
.product-box-title h3 {
	font-weight: 400;
	font-size: 13px;
	color: #000;
	margin-top: 25.35px;
	margin-bottom: 12.65px;
	padding: 0 28px 0 16px;
}

.product-box-p p {
	font-weight: 300;
	font-size: 14px;
	color: #5d5d5d;
	margin-bottom: 18px;
	margin-bottom: 12.65px;
	padding: 0 28px 0 16px;
}

.product-price {
	font-weight: 400;
	font-size: 16px;
	color: #f16d7f;
	margin-bottom: 12.65px;
	padding: 0 28px 0 16px;
}

.bad_page img {
	max-height: 420px;
}

.products-boxes {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
	gap: 30px;
	justify-items: center;
	margin-top: 48px;
	margin-bottom: 48px;
}

.products-conteiner {
	margin-bottom: 95px;
	max-width: 1140px;
	margin: 0 auto;
}

.promotion-box img {
	max-width: 100%;
	height: auto;
}

.promotion-box h2 {
	font-weight: 400;
	font-size: 19px;
	color: #fbfbfb;
	margin-top: 28.07px;
}

.promotion-box p {
	font-weight: 300;
	font-size: 13px;
	text-align: center;
	color: #fbfbfb;
	margin-top: 16px;
}

.promotion-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 360px;
	height: 100%;
}

.promotions-conteiner {
	background: #222224;
	padding-top: 103px;
	padding-bottom: 104px;
}

.promotions-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	height: 100%;
	flex-wrap: wrap;
}

.btm_h2 h2 {
	margin-top: 20px;
}

.contacts-background {
	background-image: url("/img/background_contacts.svg");
	background-size: cover;
	/* background-color: #f4f4f4;
	opacity: 70%; */
	background-position: center;
	padding-top: 97px;
	padding-bottom: 156px;
}

.contacts-info-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
	width: 360px;
}

.contacts-info-text p {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: #222224;
}

.c-italic {
	font-style: italic;
}

input[type="email"] {
	border: none;
	border-radius: 25px;
	background-color: #e1e1e1;
	width: 170px;
	height: 36px;
	padding: 8px 131px 7px 22px;
	position: relative;
}

input[type="email"]:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.submit-button {
	border-radius: 0px 25px 25px 0px;
	padding: 8px 7px 7px 6px;
	background-color: #f16d7f;
	border: none;
	position: absolute;
	right: 1px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: #e05c6e;
}

.text-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #fff;
	width: 85px;
	height: 36px;
}

.contacts-email {
	display: flex;
	gap: 32px;
	flex-direction: column;
	max-width: 557px;
}

.text-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 167%;
	text-align: center;
	color: #222224;
}

.text_p {
	font-weight: 400;
	font-size: 18px;
}

.contacts-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 223.26px;
	flex-wrap: wrap;
}

.email-form {
	max-width: 356px;
	position: relative;
}

.footer .textFooter {
	font-weight: 400;
	font-size: 16px;
	color: #fbfbfb;
	max-width: 332px;
}

.footer .box {
	display: flex;

	width: 32px;
	height: 32px;
	background-color: #fff;
	cursor: pointer;
}

.footer .box:hover {
	background-color: #f16d7f;
}

.footer .box:hover img {
	filter: brightness(0) invert(1);
}

.footer-conteiner {
	background-color: #222224;
	padding-top: 24px;
	padding-bottom: 24px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 655px;
	flex-wrap: wrap;
}

.social {
	display: flex;
	align-items: center;
	gap: 7.3px;
}

@media (max-width: 768px) {
	.header__left {
		padding: 32px;
	}
	.header__right {
		padding: 32px;
	}
	.header__right ::after,
	.number {
		color: #f8f8f8;
		position: absolute;
		top: 30px;
		right: 30px;
	}
	.main-conteiner {
		max-height: 368px;
	}
	.main-img {
		display: flex;
		max-width: 368px;
		max-height: 368px;
	}

	.main-text {
		width: 311px;
		height: 92px;
	}

	.main-text h1 {
		font-weight: 900;
		font-size: 44px;
		color: #222;
	}
	.main-text span {
		font-weight: 700;
		font-size: 24px;
	}

	.sml-text {
		font-weight: 700;
		font-size: 24px;
	}

	.last-word {
		font-weight: 700;
		font-size: 24px;
		color: #f16d7f;
	}
	.vertical-line {
		height: 61px;
	}

	.group_1 {
		display: flex;
		gap: 30px;
		flex-wrap: nowrap;
		padding: 0 16px;
	}

	.group_2 {
		padding: 0 16px;
	}

	.poducts-title h1 {
		font-size: 30px;
		font-weight: 400;
	}
	.poducts-title p {
		font-size: 14px;
		font-weight: 400;
	}
	.products-boxes {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}
	/* .promotions-conteiner {
		/* height: 610px; */

	.promotions-group {
		display: flex;
		gap: 30px;
		height: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: column;
	}

	.promotion-box h2 {
		font-weight: 400;
		font-size: 20px;
	}
	.promotion-box p {
		font-weight: 300;
		font-size: 14px;
	}
	.contacts-conteiner {
		height: 694px;
	}

	.footer-conteiner {
		padding-top: 0;
		padding-bottom: 0;
	}
	.footer {
		height: 79px;
		display: flex;
		gap: 350px;
	}
	.textFooter {
		display: flex;
		font-weight: 400;
		font-size: 16px;
		color: #fbfbfb;
		max-width: 332px;
	}
}
@media screen and (max-width: 767px) and (min-width: 320px) {
	.center {
		min-width: 767;
	}

	.main-img {
		display: none;
	}
	.header__link-site {
		display: none;
	}
	.number {
		display: none;
	}
	.header {
		display: flex;
		flex-wrap: nowrap;
	}
	.header__left {
		padding: 0 16px;
	}
	.header__right {
		display: flex;
		justify-content: flex-end;
		padding: 0 16px;
	}
	.main-info {
		min-width: 375px;
		min-height: 363px;
	}
	.main-text {
		display: flex;
		width: 236px;
		height: 66px;
	}

	.main-text h1 {
		font-weight: 900;
		font-size: 38px;
		color: #222;
	}
	.main-text span {
		font-weight: 700;
		font-size: 20px;
	}
	.last-word {
		font-weight: 700;
		font-size: 20px;
		color: #f16d7f;
	}

	.group_1 {
		display: flex;
		flex-wrap: wrap;
	}
	.acc {
		display: flex;
		height: 111px;
		object-fit: cover;
	}
	.acc_text {
		height: 50px;
		width: 160px;
	}

	.products-conteiner {
		padding: 0 8px;
	}

	.product-box {
		display: grid;
		grid-template-columns: 1fr;
	}
	.box-text {
		font-weight: 400;
		font-size: 16px;
	}
	.box-title {
		font-weight: 700;
		font-size: 24px;
		color: #f16d7f;
	}

	.poducts-title {
		font-weight: 400;
		font-size: 30px;
	}
	.products-p {
		font-weight: 400;
		font-size: 14px;
	}
	.products-boxes {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}
	.contacts-background {
		background-image: url("/img/background_contacts.svg");
		background-size: cover;
		/* background-color: #f4f4f4;
	opacity: 70%; */
		background-position: center;
		padding-top: 97px;
		padding-bottom: 156px;
	}

	.footer-conteiner {
		padding-top: 0;
		padding-bottom: 0;
	}
	.footer {
		height: 79px;
		display: flex;
		gap: 350px;
	}
	.textFooter {
		display: flex;
		font-weight: 400;
		font-size: 16px;
		color: #fbfbfb;
		max-width: 332px;
	}
}
